.processer {
  cursor: progress;
  display: none;
  .spinner-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  .circle {
    position: relative;
    margin: 0 auto;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 3px solid #ffffff;

    text-indent: -9999em;
    display: block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: processer 1s infinite linear;
    animation: processer 1s infinite linear;
  }
  .circle,
  .circle:after {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }

}
md-dropdown-button, .md-button {
  &.md-processing {
    .processer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 3px;
      z-index: 2;
      display: block;
    }
  }
}


@-webkit-keyframes processer {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes processer {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}