<md-dialog aria-label="Markdown Help" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 flex>{{'dlg.markdown_help' | translate}}</h2>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Markdown</th>
          <th>{{'dlg.markdown_result' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>**text**</td>
          <td><strong>Bold</strong></td>
        </tr>
        <tr>
          <td>*text*</td>
          <td><em>Emphasize</em></td>
        </tr>
        <tr>
          <td>~~text~~</td>
          <td><del>Strike-through</del></td>
        </tr>
        <tr>
          <td>[title](http://)</td>
          <td><a href="javascript:;">Link</a></td>
        </tr>
        <tr>
          <td>`code`</td>
          <td><code>Inline Code</code></td>
        </tr>
        <tr>
          <td>![alt](http://)</td>
          <td>Image</td>
        </tr>
        <tr>
          <td>* item</td>
          <td>List</td>
        </tr>
        <tr>
          <td>> quote</td>
          <td>Blockquote</td>
        </tr>
        <tr>
          <td># Heading</td>
          <td>H1</td>
        </tr>
        <tr>
          <td>## Heading</td>
          <td>H2</td>
        </tr>
        <tr>
          <td>### Heading</td>
          <td>H3</td>
        </tr>
        </tbody>
      </table>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      {{'dlg.markdown_syntax_link' | translate}}: <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown Documentation</a><span flex></span>
    </md-dialog-actions>
</md-dialog>